/*! GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
}

#root {
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
    background: rgb(43, 43, 43);
    background: linear-gradient(173deg, rgba(43, 43, 43, 1) 0%, rgba(8, 8, 8, 1) 100%);
    justify-content: center;
    align-items: center;
}

.vh90 {
    height: 90vh;
}

.input {
    padding: 5px;
    margin: 5px;
    background: none;
    color: #1ed760;
    border: none;
    border-bottom: 2px solid #1ed760;
}

.input-altabaja {
    width: 200px;
}

.btn-submit {
    background-color: #1ed760;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 8px;
    transition: ease-in 0.2s;
    font-weight: 700;
}

.btn-submit:hover {
    background-color: #147e39;
}


/*! NAV */

nav {
    background-color: #000000;
    color: #1ed760;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    align-content: center;
    align-items: center;
    min-height: 10vh;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
}

nav ul li {
    font-weight: 700;
}

nav ul li a {
    text-decoration: none;
    color: #1ed760;
    transition: ease-in 0.2s;
}

nav ul li a:hover {
    background-color: #1ed760;
    color: black;
    padding: 20px;
}

.nav-logout:hover {
    background-color: #d71e1e !important;
}


/*! INDEX */

.auth-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    row-gap: normal;
    border-radius: 8px;
    height: 70%;
    width: 40%;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.auth-container h1 {
    font-size: 60px;
}

.auth-container a {
    text-decoration: none;
    color: #1ed760;
    width: 150px;
    height: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-radius: 15px;
    transition: ease-in 0.2s;
}

.auth-container a:hover {
    background-color: #1ed760;
    color: black;
}


/*! AUTH */


/*? LOGIN */

.login-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    row-gap: normal;
    border-radius: 8px;
    height: 70%;
    width: 40%;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.login-container h1 {
    font-size: 60px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-form .input {
    width: 200px;
}


/*? REGISTER */

.register-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    row-gap: normal;
    border-radius: 8px;
    height: 70%;
    width: 40%;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.register-container h1 {
    font-size: 60px;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#rol-label-title {
    font-size: 50px;
}

.rol-label {
    background-color: #1ed760;
    color: black;
    padding: 10px;
    font-weight: 700;
}

.register-form .input {
    width: 200px;
}


/*! STUDENT & USER */


/*? PROFILE */

.user-profile-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    row-gap: normal;
    border-radius: 8px;
    height: 80%;
    width: 40%;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.user-profile-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.user-profile-container h2 {
    font-size: 60px;
}

.user-profile-options {
    gap: 20px;
}

.user-profile-options a {
    text-decoration: none;
    background-color: #1ed760;
    color: black;
    padding: 10px;
    border-radius: 8px;
    font-weight: 700;
}

.user-profile-data {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 33%);
    gap: 10px;
    list-style: none;
}

.user-profile-data li {
    font-size: 12px;
    color: #1ed760;
}


/*? ADD */

.add-user-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    row-gap: normal;
    border-radius: 8px;
    height: 70%;
    width: 40%;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.add-user-container h1 {
    font-size: 60px;
}

.add-user-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add-user-form .input {
    width: 200px;
}


/*? LIST */

.user-list-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    row-gap: normal;
    border-radius: 8px;
    height: 80%;
    width: 40%;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.user-table {
    display: grid;
}

.user-table-body {}

.users {
    gap: 20px;
}

.user {
    background-color: #1ed760;
    color: #000000;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    height: 150px;
    width: 250px;
    margin: 4px;
    font-size: 15px;
}

.user a {
    text-decoration: none;
    color: #147e39;
}


/*! COMPANY */


/*? PROFILE */

.company-profile-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    row-gap: normal;
    border-radius: 8px;
    height: 80%;
    width: 40%;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.img-container {
    background-color: #1b75a1;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 10s ease infinite;
    -z-animation: rainbow 10s ease infinite;
    -o-animation: rainbow 10s ease infinite;
    animation: rainbow 10s ease infinite;
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@-moz-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@-o-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

.company-profile-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.company-profile-container h2 {
    font-size: 60px;
}

.company-profile-options {
    gap: 20px;
}

.company-profile-options a {
    text-decoration: none;
    background-color: #1ed760;
    color: black;
    padding: 10px;
    border-radius: 8px;
    font-weight: 700;
}

.company-baja {
    background-color: #d71e1e !important;
}


/*? LIST */

.company-list-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    row-gap: normal;
    border-radius: 8px;
    height: 80%;
    width: 40%;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.company-table {
    display: grid;
}

.company-table-body {}

.companies {
    gap: 20px;
}

.company {
    background-color: #1ed760;
    color: #000000;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
}

.company a {
    text-decoration: none;
    color: #147e39;
}


/*? ADD */

.add-company-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    row-gap: normal;
    border-radius: 8px;
    height: 70%;
    width: 40%;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.add-company-container h1 {
    font-size: 60px;
}

.add-company-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add-company-form .input {
    width: 200px;
}


/*? MODIFY */

.modify-company-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    row-gap: normal;
    border-radius: 8px;
    height: 70%;
    width: 40%;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.modify-company-container h1 {
    font-size: 60px;
}

.modify-company-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modify-company-form .input {
    width: 200px;
}


/*? ALTA & BAJA */

.altabaja-company-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    row-gap: normal;
    border-radius: 8px;
    width: 40%;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 10px;
    position: static;
    box-sizing: border-box;
}

.company-altabaja {
    height: 100px;
}


/*! JOBOFFER */


/*? LIST */

.joboffer-list-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    row-gap: normal;
    border-radius: 8px;
    height: 80%;
    width: 40%;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.joboffer-table {
    display: grid;
}

.joboffer-table-body {}

.joboffers {
    gap: 20px;
}

.joboffer {
    background-color: #1ed760;
    color: #000000;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    height: 150px;
    width: 250px;
    margin: 4px;
    background-size: cover;
    background-repeat: no-repeat;
}

.joboffer a {
    text-decoration: none;
    color: #147e39;
}

.joboffer p {
    background-color: rgba(256, 256, 256, 0.6);
}

.jobList_btn {
    text-decoration: none;
    color: black !important;
    background-color: rgb(60, 179, 113, 0.6)
}

.jobList_btn:hover {
    color: #3fed7c !important;
}

.postulated,
.expired {
    height: 100px;
}

.admin {
    height: 180px;
}

.expired {
    background-color: red;
}


/*? ADD */

.add-joboffer-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    row-gap: normal;
    border-radius: 8px;
    height: 80%;
    width: 40%;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.add-joboffer-container h1 {
    font-size: 60px;
}

.add-joboffer-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.add-joboffer-form .input {
    width: 200px;
}


/*? ALTA & BAJA */

.altabaja-joboffer-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    row-gap: normal;
    border-radius: 8px;
    width: 40%;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 10px;
    position: static;
    box-sizing: border-box;
}

.joboffer-altabaja {
    height: 100px;
}


/*? MODIFY */

.modify-joboffer-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    row-gap: normal;
    border-radius: 8px;
    height: 70%;
    width: 40%;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.modify-joboffer-container h1 {
    font-size: 25px;
}

.modify-joboffer-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modify-joboffer-form .input {
    width: 200px;
}


/*? STUDENTES POSTULATED */

.pdf-btn {
    text-decoration: none;
    font-weight: 700;
    background-color: #1e99d7;
    color: #000000;
    padding: 10px;
    border-radius: 8px;
    width: 150px;
    text-align: center;
    transition: ease-in 0.2s;
}

.pdf-btn:hover {
    background-color: #1b75a1;
}